---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; McKay Stewart</p>
  </header>
  <div class="post-body">
    {{ content }}
  </div>
  <div class="follow">
    <p><strong>Follow me:</strong>
      <a href="https://www.imdb.com/name/nm1229683/">IMDb</a> &middot;
      <a href="https://www.instagram.com/mckaystewartphotography/">Instagram</a> &middot;
      <a href="https://x.com/mckaystewart">X</a>
    </p>
  </div>
</article>
<p class="back"><a href="{{ '/' | relative_url }}">&larr; All stories</a></p>
